@use '../../variables.scss' as *;

.about {
	@extend %flex-center;
	flex-direction: column;
	gap: 38px;

	.collapses {
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 82.5%;
	}
	@media screen and (max-width: $mobile-breakpoint) {
		padding: 0 20px;
		.collapses {
			width: 100%;
		}
	}
}
