@use '../../variables.scss' as *;

header {
	display: flex;
	justify-content: space-between;
	margin: 20px;
	margin-bottom: 50px;
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			margin-left: 57px;
		}
	}
	@media screen and (max-width: $mobile-breakpoint) {
		justify-content: space-around;
		a {
			margin-left: 26px;
			font-size: 12px;
		}
		img {
			width: 145px;
		}
	}
}
