@use '../../variables.scss' as *;

footer {
	height: 209px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 60px 100px 30px 100px;
	background-color: black;
	color: white;
	font-size: 24px;
	margin-top: 50px;
	img {
		width: 122px;
		min-width: 122px;
	}

	@media screen and (max-width: $mobile-breakpoint) {
		font-size: 12px;
		gap: 0;
		p {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
		}
	}
}
