@use '../../variables.scss' as *;

.page404 {
	@extend %flex-center;
	gap: 139px;
	h1 {
		font-size: 288px;
		font-weight: bold;
		max-height:min-content;
		color: $primary-color;
	}

	p {
		font-size: 36px;
		text-align: center;
		color: $primary-color;
	}

	.back-link {
		text-decoration: underline;
	}

	@media screen and (max-width: $mobile-breakpoint) {
		gap: 131px;
		h1 {
			font-size: 98px;
		}

		p {
			font-size: 18px;
		}
		.back-link {
			font-size: 14px;
		}
	}
}
