@use '../../variables.scss' as *;

main {
	color: $primary-color;
	@extend %flex-center;
	gap: 139px;
	h1 {
		font-size: 288px;
		font-weight: bold;
		max-height:min-content;
	}

	p {
		font-size: 36px;
		text-align: center;

	}

	.back-link {
		color: black;
		text-decoration: underline;
	}

	@media screen and (max-width: $mobile-breakpoint) {
		gap: 131px;
		h1 {
			font-size: 98px;
		}

		p {
			font-size: 18px;
		}
		.back-link {
			font-size: 14px;
		}
	}
}
