@use '../../variables.scss' as *;

.banner {
	position: relative;
	object-fit: cover;
	width: calc(100% - 70px);
	display: flex;
	justify-self: center;
	margin: 35px;
	img {
		width: 100%;
		height: 223px;
		object-fit: cover;
		border-radius: 25px;
		border: 1px solid black;
	}
	.shadow60 {
		filter: brightness(40%);
	}
	.shadow30 {
		filter: brightness(70%);
	}
	h2 {
		position: absolute;
		width: calc(100% - 50px);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: white;
		font-size: 48px;
		font-weight: bold;
		line-height: 143%;
		-webkit-text-stroke: 1px black; // Ajoute une bordure noire autour des lettres
		--text-stroke: 1px black; // Pour les navigateurs qui supportent text-stroke
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); // Ajoute une ombre aux lettres
	}

	@media screen and (max-width: $mobile-breakpoint) {
		width: 100%;
		img {
			height: 111px;
			border-radius: 10px;
		}
		h2 {
			width: calc(100% - 32px);
			font-size: 24px;
			-webkit-text-stroke: 0; // Ajoute une bordure noire autour des lettres
			--text-stroke: 0; // Pour les navigateurs qui supportent text-stroke
			text-shadow: none; // Ajoute une ombre aux lettres
			line-height: 100%;
			text-align: left;
			padding-left: 16px;
			padding-right: 16px;
			display: flex;
			align-self: center;
		}
	}
}
